.ql-editor {
  border: 1px solid #E6DCFF !important;
  height: 10rem !important;
  border-radius: 0.5rem;
  overflow: auto;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: '#FFF';
}

::-webkit-scrollbar-thumb {
  background-color: #C7C7C7;
  border-radius: 20px;
  border: 2px solid #fff;
}

p {
  margin: 0;
  padding: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* In-text suggestion element */
quill-lt-match {
  text-decoration: underline wavy #e82f45;
  border: none !important;
}

quill-lt-match:hover {
  background-color: transparent !important;
  cursor: pointer;
}

/* Popup */
.quill-lt-match-popup {
  isolation: isolate;
  background-color: #fff;
  border-radius: 7px;
  padding: 5px;
  z-index: 1;
  max-width: 400px;
  padding: 1rem;

  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #39475c;
}

.quill-lt-match-popup-close {
  float: right;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #ccc;
}

.quill-lt-match-popup-close:hover {
  color: #39475c;
}

.quill-lt-match-popup-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.quill-lt-match-popup-description {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.quill-lt-match-popup-actions {
  display: flex;
  flex-direction: row !important;
  background-color: rgb(255, 255, 255);
  gap: 0.5rem;
}

.quill-lt-match-popup-action {
  background-color: #6c57a8 !important;
  padding: 0.25rem 0.5rem;
  border: none;
  color: white !important;
  border-radius: 6px;
  cursor: pointer;
}

.quill-lt-match-popup-action:hover {
  background-color: #9683cd !important;
}

.quill-lt-powered-by {
  text-align: end;
  font-size: 0.6rem;
  color: #999;
  margin-top: 0.5rem;
}

.quill-lt-powered-by a {
  color: #999;
}

/* Arrow */
.quill-lt-popup-arrow,
.quill-lt-popup-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.quill-lt-popup-arrow {
  visibility: hidden;
}

.quill-lt-popup-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
  background: white;
}

quill-lt-popup[data-popper-placement^="top"]>.quill-lt-popup-arrow {
  bottom: -4px;
}

quill-lt-popup[data-popper-placement^="bottom"]>.quill-lt-popup-arrow {
  top: -4px;
}

quill-lt-popup[data-popper-placement^="left"]>.quill-lt-popup-arrow {
  right: -4px;
}

quill-lt-popup[data-popper-placement^="right"]>.quill-lt-popup-arrow {
  left: -4px;
}

/* Loading indicator in editor */
.quill-lt-loading-indicator {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 10;
}

.quill-lt-loading-indicator-spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #39475c;
  animation: quill-lt-loading-indicator-spin 1s linear infinite;
}

@keyframes quill-lt-loading-indicator-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}